%p{align: "left", style: "color: #222222; font-family: Garamond, 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: justify; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;"}
  = t('.welcome')
%p{align: "left", style: "color: #222222; font-family: Garamond, 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: justify; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;"}
  = t('.new_welcome')
%p{align: "left", style: "color: #222222; font-family: Garamond, 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: justify; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;"}
  = t('.new_advise_html')
%p{align: "left", style: "color: #222222; font-family: Garamond, 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: justify; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;"}
  = t('.new_next_event_html')
%p{align: "left", style: "color: #222222; font-family: Garamond, 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: justify; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;"}
  = t('.new_tuto_html')
%p{align: "left", style: "color: #222222; font-family: Garamond, 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: justify; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;"}
  = t('.new_next_step_html')
%p{align: "center", style: "color: #222222; font-family: Garamond, 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: center; line-height: 19px; font-size: 14px; margin: 20px 0 10px; padding: 0;"}
  = link_to t('.link_member_area'), account_root_url, target: '_blank', style:'padding:9px 23px;background:#cfa161;color:#000;text-decoration:none;'
%br
%p{align: "left", style: "color: #222222; font-family: Garamond, 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: justify; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;"}
  =t('.new_reminder')
%p{align: "left", style: "color: #222222; font-family: Garamond, 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: justify; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;"}
  =t('.new_reminder_2')
%p{align: "left", style: "color: #222222; font-family: Garamond, 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: justify; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;"}
  = t('.new_greetings')
