= t('.welcome')
\
\
= t('.new_welcome')
\
\
= t('.new_advise')
\
\
= t('.new_next_event')
\
\
= t('.new_tuto')
\
\
= t('.new_next_step')
\
\
= account_root_url
\
\
=t('.new_reminder')
\
\
=t('.new_reminder_2')
\
\
= t('.new_greetings')
