%h4.headline.m-top-none
  = t('.title')
.panel.panel-default
  %table#account_invoices_table.table.table-striped.table-hover
    %thead
      %tr
        %th
          = Invoice.human_attribute_name(:end_at)
        %th
          = t('.invoice_order_items')
        %th
          = Invoice.human_attribute_name(:total_price_ati)
        %th.text-right{data: {orderable: 'false'}}
          = t('.actions')
    %tbody
      - @user_invoices.each do |invoice|
        %tr
          %td{data: {order: invoice.object.end_at.to_time.to_i}}
            = invoice.end_at
          %td
            %ul
              - invoice.order_items.each do |order_item|
                %li
                  = order_item.product_name
          %td
            = invoice.total_price_ati
          %td.text-right
            .btn-group.btn-group-sm
              = link_to account_invoice_path(invoice, format: 'pdf'), class: 'btn btn-default', target: '_blank', title: t('.invoice_show_pdf') do
                %em.fa.fa-print
            - if invoice.refunded?
              .btn-group.btn-group-sm
                = link_to credit_note_account_invoice_path(invoice, format: 'pdf'), class: 'btn btn-default', target: '_blank', title: t('.invoice_credit_note_pdf') do
                  %em.fa.fa-print

  != pagy_bootstrap_nav(@pagy)