%h1{align: "left", style: "font-size: 22px; color: #cfa161; font-family: Garamond, 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 1.3; word-break: normal; margin: 15px 0; padding: 0;"}
= t('.sponsoring_request_notification_title')

%ul
  %li= @sponsoring_request.firstname
  %li= @sponsoring_request.lastname
  %li= @sponsoring_request.phone
  %li= @sponsoring_request.email
  %li= "Parrain : #{@sponsoring_request.user.lastname} #{@sponsoring_request.user.firstname}"
