= t('.sponsoring_request_notification_title')
\
= @sponsoring_request.firstname
\
= @sponsoring_request.lastname
\
= @sponsoring_request.phone
\
= @sponsoring_request.email
\
= "Parrain : #{@sponsoring_request.user.lastname} #{@sponsoring_request.user.firstname}"
\
