!!!5
%html.no-js{ lang: 'fr'}
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}
    = render "layouts/shared/favicons"
    = stylesheet_link_tag 'errors', media: :all
    %title= page_title
  %body
    #wrapper
      .padding-md
        .row
          .col-sm-6.col-sm-offset-3.text-center
            = image_tag 'logo-temple-login.jpg', class: 'fadeInUp animation-delay1 error-logo'
            = yield
